<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/CSS/style.css" />
    <link rel="icon" href="static/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sacramento&display=swap"
      rel="stylesheet"
    />
    <title>Dipesh Shrestha</title>
  </head>
  <body>
    <div class="top-container">
      <img class="top-cloud" src="static/Images/cloud.png" alt="cloud-img-first" />
      <h1>I'm Dipesh.</h1>
      <h2>a programmer.</h2>
      <img class="button-cloud" src="static/Images/cloud.png" alt="cloud-img-second" />
      <img class="mountain" src="static/Images/mountain.png" alt="mountain-img" />
    </div>

    <div class="middle-container">
      <img class="my-image" src="static/Images/dipesh.png" alt="my-image" />

      <h2>Hello.</h2>

      <p class="my-into">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum quam
        architecto ipsa. A laborum placeat sunt, corrupti quam illo consequatur
        sit ipsa quisquam? Sapiente laborum enim quam! Laudantium, voluptatum
        vero?
      </p>

      <hr size="2" />
      <h2>My Skills</h2>
      <div class="skill">
        <div class="image">
          <img class="skill-img" src="static/Images/computer.png" alt="" />
        </div>
        <div class="content">
          <h3>Design and Development</h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet
            itaque saepe id dicta incidunt laborum doloremque totam modi, quod
            earum magni suscipit fugiat reiciendis aliquid, eius porro excepturi
            corrupti cupiditate?
          </p>
        </div>
      </div>
      <div class="skill">
        <div class="content">
          <h3>Hot Wing Challenges</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
            est adipisci suscipit quae rerum perferendis? Enim neque nulla
            temporibus totam officia tempora atque? Perspiciatis, doloremque
            ullam maxime sapiente laboriosam recusandae.
          </p>
        </div>
        <div class="image">
          <img class="skill-img" src="static/Images/chillies.png" alt="" />
        </div>
      </div>

      <hr size="2" />
      <h2>Get In Touoch</h2>
      <h3>If you love hot wings as much as i do.</h3>
      <p class="contact-message">
        Love hot wings as much as i do? Let's talk about how awesopme they are!
        We can code while we eat hot wings!
      </p>

      <button class="btn">Contact Me</button>
    </div>

    <div class="buttom-container">
      <a href="">LinkedIn</a>
      <a href="">Twitter</a>
      <a href="">Github</a>

      <p class="copyright">© 2018 Dipesh Shestha @ The Hamro Link ."</p>
    </div>
  </body>
</html>
